@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*para el body y cargando la imagen*/
.body {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 243, 0.65),
      rgba(255, 255, 243, 0.65)
    ),
    url("../img/logo veterinaria con nombre.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
}

.encabezado {
  padding: 10px 0;
}

/*para el contenedor y que sea en tres columnas*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/*para el fondo de la pagina*/
.fondo {
  background-color: #fffff3;
}
/*para la descripcion de los articulos*/
#descripcion-articulos {
  text-align: center;
}
/*para el titulo*/
.titulo {
  text-align: center;
  box-sizing: border-box;
  color: #573529;
  font-size: 50px;
  font-family: "snap ITC";
  margin: 30px 0px 50px;
}
/*para el manejo de los articles*/
.bienvenida {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  margin: 0px;
}
.bienvenida_spa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  margin: 0px;
}

/*para el manejo de los articles*/
.bienvenida-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
/*para el manejo de los articles*/
.bienvenida-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center;
  padding: 0px 0px 15px 0px;
}
/*para el manejo de los formularios*/
.formulario {
  margin-top: 10px;
  margin-bottom: 60px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.formulario_spa {
  grid-column: 2;
  margin-top: 10px;
  margin-bottom: 60px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.button {
  text-align: center;
}
/*para el manejo de los input*/
.input {
  background-color: #8eb540;
  width: 780px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
}
/*para el manejo de los input*/
.input-1 {
  background-color: #8eb540;
  width: 315px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
}
/*para el manejo de los input*/
.input-2 {
  background-color: #8eb540;
  width: 380px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
}
/*para el manejo de los label*/
.label {
  color: rgb(87, 53, 41);
  font-family: "snap ITC";
  font-size: 28px;
}
/*para el manejo de los label*/
.label-1 {
  color: rgb(87, 53, 41);
  font-family: "snap ITC";
  font-size: 28px;
  text-align: center;
}
/*para el manejo de los label*/
.label-2 {
  color: rgb(87, 53, 41);
  font-family: "snap ITC";
  font-size: 28px;
}
/*para que los cuadros de los checkbox aparezcan*/
[type="checkbox"] {
  display: none;
}
/*para el manejo de los label de los checkbox*/
.label-check {
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  left: 0px;
}
/*para el manejo de los checkbox*/
.label-check::before {
  content: "";
  width: 26px;
  height: 26px;
  display: inline-block;
  background: #8eb540;
  border: 2px solid #573529;
  border-radius: 4%;
  cursor: pointer;
  transition: all 0.2s;
  transform: rotate(0deg);
}
/*para el manejo de los checkbox*/
[type="checkbox"]:checked + label:before {
  border-color: #573529;
  background-color: #8eb540;
  content: "\f00c";
  color: #573529;
  font-family: FontAwesome;
  font-size: 26px;
  transform: rotate(360deg);
}
/*para el manejo de los menu*/
.menu {
  display: block;
  justify-content: left;
  list-style-type: none;
  margin-left: 10px;
}
/*para el manejo de los menu*/
.menus {
  display: grid;
  place-items: right;
  background-color: #fffff3;
}
/*para el manejo de los menu*/
.ul-botones {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
/*para el manejo de los menu*/
.ul-menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

/*para el manejo de los menu*/
.menu-oculto {
  display: none;
  opacity: 0;
  top: 100%;
  left: 0;
  list-style-type: none;
}
/*para el manejo de los menu
.menu-oculto1 {
  display: none;
  opacity: 0;
  position: relative;
  top: calc(100% + 5px);
  left: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 14px;
  font-weight: bold;
}*/
/*para el manejo de los menu*/
.ul-menu > li:hover .menu-oculto {
  opacity: 1;
  display: block;
}
/*para el manejo de los menu de los filtros*/
.ul-menu1 {
  top: calc(100% + 5px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 16px;
  font-weight: bold;
  padding: 3px 5px;
  margin: 5px;
  list-style-type: none;
}

.ul-menu1 > li {
  padding: 2px 2px;
  margin: 5px;
}

.label-check1 {
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  left: 0px;
}

.label-check1::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #8eb540;
  border: 2px solid #573529;
  border-radius: 4%;
  cursor: pointer;
  transition: all 0.2s;
  transform: rotate(0deg);
}

[type="checkbox"]:checked + label:before {
  border-color: #573529;
  background-color: #8eb540;
  content: "\f00c";
  color: #573529;
  font-family: FontAwesome;
  font-size: 16px;
  transform: rotate(360deg);
}

/*para el manejo de los menu
.ul-menu > li:hover .menu-oculto1 {
  opacity: 1;
  display: block;
}
/*para el manejo de los menu*/
.opciones-menu {
  border: none;
  background: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 20px;
  font-weight: bold;
}
/*para el manejo de los menu
.opciones-menu::after {
  display: inline-block;
  margin-left: 20px;
}
/*para el manejo de los menu
.opciones-menu.desplegado .flecha {
  transform: rotate(180deg);
}
/*para el manejo de los menu
.opciones-menu:focus + .menu-oculto1 {
  display: block;
  opacity: 1;
}

/*para el manejo de los botones*/
.botones {
  display: block;
  text-align: center;
}
/*para el manejo de los link dela pantalla ppal*/
.links {
  font-family: "snap ITC";
}
/*para el manejo de errores en ventana emergente*/
.manejo-errores {
  display: inline-block;
  visibility: hidden;
  display: grid;
  place-items: center;
  border: 2px solid rgb(142, 181, 64);
  background-color: rgb(255, 255, 243);
}
/*para el manejo de errores en ventana emergente*/
.texto-interno {
  color: rgb(87, 53, 41);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/*para el manejo de errores en ventana emergente y botones*/
.salir-ventana-emergente,
.botones-sistema {
  border: 2px solid rgb(142, 181, 64);
  border-radius: 10px;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  background-color: rgb(142, 181, 64);
  color: rgb(87, 53, 41);
  height: auto;
  width: auto;
}
/*para el manejo de errores en ventana emergente y botones*/
.salir-ventana-emergente:hover,
.botones-sistema:hover {
  background-color: rgb(87, 53, 41);
  color: rgb(142, 181, 64);
  font-weight: bolder;
}
/*para los botones*/
.botones-sistema {
  margin: 0px 20px;
}
/*para el manejo de los link*/
a:link {
  color: rgb(87, 53, 41);
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
  margin: 20px 10px;
}
/*para el manejo de los link*/
a:hover {
  background-color: rgb(142, 181, 64);
  border: 2px solid;
  border-radius: 10px;
}
/*para el manejo de los link*/
a:visited {
  color: rgb(87, 53, 41);
}
/*para manejar los productos */
.productos {
  max-width: 100%;
  width: 100%;
  margin: 5% 0;
  display: flex;
  overflow-y: auto;
  max-height: 500px;
}

.mostrador {
  width: 100%;
  transition: 0.5s ease;
}

.mostrador .fila {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.mostrador .fila .item {
  max-width: 120px;
  padding: 5px;
  height: 390px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.mostrador .fila .item:hover {
  background-color: #c2e281;
}

.mostrador .fila .item img {
  width: 120px;
}

.mostrador .fila .item .descripcion-articulos {
  color: #573529;
  font-weight: bold;
}

.mostrador .fila .item .precio {
  color: #f74343;
  font-weight: bold;
  font-size: 26px;
}
